.create-user{
    border-radius: 20px;
background: rgba(72, 83, 205, 0.54);
width: 100%;
height: 220px;
padding: 1%;
}

.create-user-title{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.create-user-form{
    display: flex;
    padding: 1%;
    align-items: center;
    justify-content: space-around;
}

.create-user-input{
    border-radius: 20px;
background: #EBEBEB;
border: none;
padding: 1%;
}

.create-user-button{
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 20px;
    background: #FFD9E7;
    margin-left: 43%;
    border: none;
    cursor: pointer;
    padding: 1%;
}

.users-admin{
    color: #4853CD;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.select-users-admin{
    color: #4853CD;
text-align: center;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 20px;
background: #FFD9E7;
border: none;
}

.admin-table-th{
    color: #4853CD;
text-align: center;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.user-name{
    color: #4853CD;
text-align: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.edit-delete-btn-admin{
    border-radius: 20px;
    background: #FFD9E7;
    color: #4853CD;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    width: fit-content;
    padding: 3%;
    margin: 12px;
}

.admin-table{
    margin-left: 25%;
}