/* .login-body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(110deg, #4853CD -7.71%, rgba(72, 83, 205, 0.84) 43.03%, rgba(72, 83, 205, 0.00) 103.27%);
}
.main{
	width: 350px;
	height: 550px;
	background: red;
	overflow: hidden;
	background:  #3d4496 ;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
	margin: 0;
	padding: 0;
	
	justify-content: center;
	align-items: center;
	
	font-family: 'Jost', sans-serif;
	background: linear-gradient(110deg, #4853CD -7.71%, rgba(72, 83, 205, 0.84) 43.03%, rgba(72, 83, 205, 0.00) 103.27%);
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
    transform: translateY(0);
  transition: .8s ease-in-out;
}
.login{
	color: #fff;
	font-size: 25px;
	justify-content: center;
	display: flex;
	margin: 40px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
    align-items: baseline;
}
.signup_login{
    font-size: 35px;
}
input.{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.email_input{
    width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;

}
select{
    justify-content: center;
    outline: none;
    border-radius: 20px;
    border: none;
    display: flex;
    margin: 0 auto;
    padding: 5px;
}

option{
    border-radius: 20px;
}
.button-lgn{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #4853CD;
	background: #FFD9E7;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

button:hover{
	background:  #3d4496;
    color: white;
}

.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
    transform: translateY(0);
	transform: translateY(-155px);
	transition: .8s ease-in-out;
}
.login .signup_login{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login {
    transform: translateY(-500px);
    transition: .8s ease-in-out;
}
#chk:checked ~ .login label {
    transform: scale(1);
    transition: .8s ease-in-out;
  }
  #chk:checked ~ .signup label {
    transform: scale(.6);
    transition: .8s ease-in-out;
  } */